.react-form-builder-toolbar {
  background: transparent !important;
  margin-top: 0px !important;
}

.react-form-builder-preview {
  /* margin-left: 15px; */
}

.react-form-builder-toolbar ul {
    /* display: flex; */
    /* flex-wrap: wrap;  */
  }
  
  .react-form-builder-toolbar ul li {
    flex: 0 0 40%; /* Zwei Spalten mit etwas Abstand */
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 5px 0;
    transition: box-shadow 0.3s ease;
  }
  
  .react-form-builder-toolbar ul li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .react-form-builder .react-form-builder-toolbar {

    margin-top: 0px;

  }
