.surveyPage {
    background-color: #f8f9fa; /* Heller Hintergrund */
    border-radius: 8px; /* Abgerundete Ecken */
    padding: 20px;
  }
  
  input[type="text"], input[type="date"] {
    border-radius: 5px;
    padding: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  button:focus {
    outline: none;
  }
  
  input[type="text"]:focus, input[type="date"]:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  h1 {
    font-size: 2rem;
    color: #343a40;
  }
  
  .form-label {
    font-weight: bold;
  }
  